body {
  margin: 0px;
}

section.top {
  /* default */
  background: rgb(73, 138, 220);
  /* nicer gradient */
  background: linear-gradient(rgb(73, 138, 220), rgb(110, 83, 157));

  display: flex;
  justify-content: center;
}

section.top-left {
  display: flex;
  flex-direction: column;

  margin: 60px;
  margin-bottom: 0px;
}

#Local {
  font-family: Noto Sans KR;
  color: white;

  margin: 0px;

  font-size: 34px;
}

#Northern {
  font-family: Noto Sans KR;
  color: rgb(52, 58, 154);

  margin: 0px;

  font-size: 23px;
}

#Forecast {
  font-family: Noto Sans KR;
  font-size: 15px;
  color: white;

  margin: 0px;
  margin-right: 10px;
}

#search-section {
  display: flex;
  flex-direction: row;
}

/* webpage is default */

section.MOBILE-current-weather {
  display: none;
}
section.WEB-current-weather {
  font-family: 'Open Sans Condensed';
  color: white;

  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

#main-img2 {
  margin-right: 20px;
  margin-left: 20px;
}

#main-img2 {
  width: 10%;
}

div.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.temperature {
  margin: 0px;
}

#current-web {
  margin: 0px;
}

#time-web {
  margin: 0px;
}

#temperature-web {
  font-size: 35px;
}

.top .top-left button {
  background: linear-gradient(rgb(126, 137, 203), rgb(99, 108, 191));
  border: 0px;
  color: white;
}

div.radar {
  clip-path: circle(190px at center);
}

#map {
  z-index: 100;
}

#blue {
  z-index: 200;
  top: -0px;
  position: absolute;
}

#cities {
  z-index: 300;

  top: -0px;
  position: absolute;
}



section.bottom {
  display: flex;
  justify-content: center;
}

div.future-weather {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Open Sans Condensed';
}

p.time {
  font-size: 12px;
}

img.bottomIcon {
  width: 30%;
}

p.temperature-bottom {
  font-size: 35px;
}

/* mobile if condition passes */
@media only screen and (max-width : 320px) {
  #Local {
    font-size: 16px;
  }
  #Northern {
    font-size: 7.1px;
    margin-bottom: 6px;
  }
  #Forecast {
    font-size: 9px;
  }
  section.MOBILE-current-weather {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans Condensed';
  }
  #search-section {
    display: flex;
    flex-direction: column;
  }
  section.WEB-current-weather {
    display: none;
  }
  section.below-main {
    display: flex;
    color: white;
  }
  #current-mobile {
    margin: 0px;
  }
  #time-mobile {
    margin: 0px;
  }
  #divider-mobile {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 35px;
  }
  #temperature-mobile {
    font-size: 35px;
    margin: 0px;
  }
  section.bottom {
    flex-direction: column;
  }
  section.top-right {
    display: none;
  }
  section.below-main {
    display: flex;
    flex-direction: column;
  }
  #stats {
    display: flex;
  }
  section.bottom {
    display: none;
  }
  @keyframes slideUp {
    from { background-color: #661199; }
  	to { background-color: #116699; }
  }
}
