html, body {
    margin: 0;
    height: 100%;
    position: absolute;
    flex-direction: column;
}

.web-header {
  background: rgb(73, 138, 220);
  background: linear-gradient(rgb(73, 138, 220), rgb(110, 83, 157));
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.tab-header {
  display: none;
}
i.fa.fa-chevron-down {
  display: none;
}

.weather-search {
  flex: 0 0 60%;
}

.forecast-search {
  margin-left: 100px;
}

#local {
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  font-size: 45px;
  margin-bottom: 0px;
}

#northern {
  font-family: 'IBM Plex Sans', sans-serif;
  color: rgb(52, 58, 154);
  font-size: 33px;
  margin-top: 0px;
}

#forecast {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 22px;
  color: white;
  margin: 0px;
  margin-right: 10px;
}

#search-section {
  display: flex;
  flex-direction: row;
}

#search-text-box {
  font-size: 20px;
  font-weight: lighter;
  width: 305px;
  height: 30px;
  margin-right: 15px;
  margin-left: 10px;
}

::placeholder { color: white; text-indent: 20px;}

input[type="text"], textarea {
  background-color: rgb(52, 58, 154);
  border: none;
  size: 300;
}

#submit-button {
  background: #abacd4;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  width: 80px;
  height: 32px;
  border: none;
  color: white;
}

.weather-search .web-time-and-temperature {
  display: flex;
  flex-direction: row;
  margin-left: 150px;
  align-items: center;
  margin-top: -40px;
}

#main-img {
  margin-right: 20px;
  margin-left: 20px;
  width: 30%;
}

.web-time-and-temperature .time
#current-web, #main-time-web {
  font-family: 'Saira Extra Condensed';
  font-size: 35px;
  font-weight: lighter;
  color: white;
  margin: 0px;
}

.web-time-and-temperature #main-temperature-web {
  font-family: 'Saira Extra Condensed';
  font-size: 85px;
  font-weight: lighter;
  color: white;
}

.weather-map { flex: 0 0 40%; }

div.radar {
  clip-path: circle(190px at center);
}

#map {
  z-index: 100;
   filter: grayscale(100%);
}

#doppler_9 {
  position: absolute;
  z-index: 200;
}

#doppler_8 {
  position: absolute;
  z-index: 200;
}

#doppler_7 {
  position: absolute;
  z-index: 200;
}

#doppler_6 {
  position: absolute;
  z-index: 200;
}

#doppler_5 {
  position: absolute;
  z-index: 200;
}

#doppler_4 {
  position: absolute;
  z-index: 200;
}

#doppler_3 {
  position: absolute;
  z-index: 200;
}

#doppler_2 {
  position: absolute;
  z-index: 200;
}

#doppler_1 {
  position: absolute;
  z-index: 200;
}

#doppler_0 {
  position: absolute;
  z-index: 200;
}

#cities {
  z-index: 300;
  top: -0px;
  position: absolute;
}

.subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.subheader {
  height: 100px;
  background: linear-gradient(lightgray, white);
}

.subheader .time-and-temperature {
  display: flex;
  flex-direction: column;
}

.subheader .time-and-temperature .time-web {
  font-family: 'Saira Extra Condensed';
  font-size: 25px;
  font-weight: lighter;
}

.subheader .time-and-temperature .temperature-web {
  font-family: 'Saira Extra Condensed';
  font-size: 75px;
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
}

.between {
  margin-left: -50px;
  margin-right: -50px;
  height: 300px;
  margin-top: 40px;
}

























@media only screen and (max-width: 600px) {
  .web-header {
    display: none;
  }
  .subheader {
    height: 0px;
    background: linear-gradient(white, white);
  }
  .tab-header {
    background: rgb(73, 138, 220);
    background: linear-gradient(rgb(73, 138, 220), rgb(110, 83, 157));
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  .weather-map {
    display: none;
  }
  .weather-search .time-and-temperature {
    display: none;
  }
  .forecast-search {
    margin-left: 0px;
  }
  #local {
    font-size: 65px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
  }
  #northern {
    margin-left: 20px;
    margin-left: 80px;
    font-size: 27px;
  }
  #forecast {
    margin-left: 70px;
    font-size: 35px;
    margin-bottom: 20px;
  }
  .between {
    margin-top: 0px;
    size: 1100px;
    height: 0px;
    width: 660px;
    margin-left: -50px;
  }
  .tab-header {
    background: rgb(73, 138, 220);
    background: linear-gradient(rgb(73, 138, 220), rgb(110, 83, 157));
    display: flex;
    flex-direction: column;
    width: 190vw;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .tab-weather-search {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  .web-header {
    display: none;
  }
  .tab-time-and-temperature {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    margin-left: 100px;
  }
  .tab-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -70px;
    margin-left: 70px;
  }
  .tab-weather-search .weather-map {
    flex: 0 0 50%;
  }
  .tab-weather-search #main-img {
    margin-right: 20px;
    margin-left: 20px;
    width: 130%;
  }
  #tab-current-web, #tab-time-web-0 {
    font-family: 'Saira Extra Condensed';
    font-size: 35px;
    font-weight: lighter;
    color: white;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #tab-temperature-web {
    font-family: 'Saira Extra Condensed';
    font-size: 85px;
    font-weight: lighter;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
  }
  .tab-weather-search .time-temp-between {
    margin-left: 0px;
    margin-right: 0px;
    height: 80px;
    margin-top: 10px;
    border: .8px solid black;
  }
  #submit-button {
    margin-left: -20px;
  }
  #search-section {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  #search-bar {
    margin-left: 60px;
  }
  .subheader .time-and-temperature {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  .tab-time-and-temperature {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    margin-left: 100px;
  }
  i.fa.fa-chevron-up {
     font-size:100px;
     color:white;
     margin-left: 170px;
     margin-top: -30px;
  }
  i.fa.fa-chevron-down {
      display: inline;
     font-size:100px;
     color: rgb(52, 58, 154);
     margin-left: 220px;
     margin-top: -30px;
  }
  .subheader {
    flex-direction: column;
    margin-top: 450px;
    margin-left: 50px;
  }
  .main-img {
    margin-right: 100px;
    margin-left: 100px;
    width: 20%;
  }
  .time {
    margin-top: 0px;
  }
  .time-web {
    overflow: hidden;
    white-space: nowrap;
  }
}










@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .weather-search .time-and-temperature {
    display: none;
  }
  .forecast-search {
    margin-left: 50px;
  }
  #northern {
    margin-left: 20px;
  }
  #forecast {
    margin-left: 35px;
  }
  .between {
    height: 540px;
    margin-top: 0px;
  }
  .tab-header {
    background: rgb(73, 138, 220);
    background: linear-gradient(rgb(73, 138, 220), rgb(110, 83, 157));
    display: flex;
    flex-direction: column;
    width: 145vw;
  }
  .tab-weather-search {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  .web-header {
    display: none;
  }
  .tab-time-and-temperature {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    margin-left: 70px;
  }
  .tab-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -70px;
  }
  .tab-weather-search .weather-map {
    flex: 0 0 50%;
  }
  .tab-weather-search #main-img {
    margin-right: 20px;
    margin-left: 20px;
    width: 70%;
  }
  #tab-current-web, #tab-time-web-0 {
    font-family: 'Saira Extra Condensed';
    font-size: 35px;
    font-weight: lighter;
    color: white;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #tab-temperature-web {
    font-family: 'Saira Extra Condensed';
    font-size: 85px;
    font-weight: lighter;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
  }
  .tab-weather-search .time-temp-between {
    margin-left: 0px;
    margin-right: 0px;
    height: 80px;
    margin-top: 10px;
    border: .8px solid black;
  }
  i.fa.fa-chevron-up {
    display: none;
  }
  i.fa.fa-chevron-down {
    display: none;
  }
  div.radar {
    width: 280px;
    margin-top: -130px;
    clip-path: circle(135px at center);
  }

  #map1 {
    z-index: 100;
    filter: grayscale(100%);
  }

  #doppler_9 {
    position: absolute;
    z-index: 200;
  }

  #doppler_8 {
    position: absolute;
    z-index: 200;
  }

  #doppler_7 {
    position: absolute;
    z-index: 200;
  }

  #doppler_6 {
    position: absolute;
    z-index: 200;
  }

  #doppler_5 {
    position: absolute;
    z-index: 200;
  }

  #doppler_4 {
    position: absolute;
    z-index: 200;
  }

  #doppler_3 {
    position: absolute;
    z-index: 200;
  }

  #doppler_2 {
    position: absolute;
    z-index: 200;
  }

  #doppler_1 {
    position: absolute;
    z-index: 200;
  }

  #doppler_0 {
    position: absolute;
    z-index: 200;
  }

  #cities1 {
    z-index: 300;
    top: -0px;
    position: absolute;
  }
}

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)  {
  .between {
    height: 720px;
    margin-top: 0px;
  }
}
