html, body {
    margin: 0;
    height: 100%;
}

.header {
  background: rgb(73, 138, 220);
  background: linear-gradient(rgb(73, 138, 220), rgb(110, 83, 157));
  display: flex;
  flex-direction: row;
}

.weather-search {
  flex: 0 0 60%;
}

.forecast-search {
  margin-left: 100px;
}

#local {
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  font-size: 45px;
  margin-bottom: 0px;
}

#northern {
  font-family: 'IBM Plex Sans', sans-serif;
  color: rgb(52, 58, 154);
  font-size: 33px;
  margin-top: 0px;
}

#forecast {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 22px;
  color: white;
  margin: 0px;
  margin-right: 10px;
}

#search-section {
  display: flex;
  flex-direction: row;
}

#search-text-box {
  font-size: 20px;
  font-weight: lighter;
  width: 305px;
  height: 30px;
  margin-right: 15px;
  margin-left: 10px;
}

::placeholder { color: white; text-indent: 20px;}

input[type="text"], textarea {
  background-color: rgb(52, 58, 154);
  border: none;
  size: 300;
}

#submit-button {
  background: #abacd4;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  width: 80px;
  height: 32px;
  border: none;
  color: white;
}

.weather-search .time-and-temperature {
  display: flex;
  flex-direction: row;
  margin-left: 150px;
  align-items: center;
  margin-top: -40px;
}

#main-img {
  margin-right: 20px;
  margin-left: 20px;
  width: 30%;
}

.time-and-temperature .time
#current-web, #time-web {
  font-family: 'Saira Extra Condensed';
  font-size: 35px;
  font-weight: lighter;
  color: white;
  margin: 0px;
}

.time-and-temperature #temperature-web {
  font-family: 'Saira Extra Condensed';
  font-size: 85px;
  font-weight: lighter;
  color: white;
}

.weather-map { flex: 0 0 40%; }

.subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* .subheader > .time-and-temperature {
  border-right: 1px solid #000;
}

.subheader > .time-and-temperature:last-child {
   border: none;
} */

.subheader {
  height: 100px;
  background: linear-gradient(lightgray, white);
}

.subheader .time-and-temperature {
  display: flex;
  flex-direction: column;
}

.subheader .time-and-temperature .time-web {
  font-family: 'Saira Extra Condensed';
  font-size: 25px;
  font-weight: lighter;
}

.subheader .time-and-temperature .temperature-web {
  font-family: 'Saira Extra Condensed';
  font-size: 75px;
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
}

.between {
  margin-left: -50px;
  margin-right: -50px;
  height: 300px;
  margin-top: 40px;
}













@media only screen and (max-width: 600px) {

}










@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {


}
